/*


        PACKARTIS AG
        ..................................


        developed by:

        Daniel Gasienica
        daniel@gasienica.ch
        https://www.gasi.ch/

        ..................................


*/

html, body
{
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body, table, tr, td {
                font-family: verdana, arial, helvetica, sans-serif;
                font-size: 10px;
                color: #ffffff;
                background-color: #cccccc;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                overflow: auto;

           }