body {
    background-color: #fff;
    font: normal normal normal .9em/1.55em Georgia, "Times New Roman", Times, serif;
    margin: 20px 20px 40px 20px;
}

a, a:link, a:visited, a:active {
    color: #F00;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #f00;
}

img {
    border: 0;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #214CA0;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.35em;
    margin: 0.6em 0 0.325em;
}

h3 {
    color: #2A57B4;
    font-size: 1.2em;
    margin: 0.9em 0 0.3em;
}

h4 {
    color: #3067DB;
    font-size: 1.05em;
    margin: 0.6em 0 0.25em;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    width: 100%;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li p {
    margin: 0.15em 0;
}

address {
    background-color: #fafafa;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;    
    margin: 10px -20px 10px -40px;
    padding: 12px 8px 12px 40px;
}

#header {
    border-bottom: 3px solid #eee;
    clear: both;
    float: left;
    width: 100%;
    padding-left: 18px;
}

#header h1 {
    font-size: 2.4em;
}

#content > div:first-child {
    border-left: none;
}

.content-column {
    border-left: 2px solid #eee;
    clear: none;
    float: left;
    padding: 8px 18px;
    width: 260px;
}

.photos-column {
    padding: 12px;
    width: 240px;
}

#footer {
    color: #999;
    clear: both;
    float: left;
    width: 100%;
    padding-left: 18px;
}

span.deleted {
    color: #999;
    text-decoration: line-through;
}

span.deleted a {
    color: #666;
}

span.deleted a:hover {
    background: none;
    text-decoration: underline;
}
