/*


        PACKARTIS AG
        ..................................


        developed by:

        Daniel Gasienica
        daniel@gasienica.ch
        https://www.gasi.ch/

        ..................................


*/


body {
                font-family: verdana, arial, helvetica, sans-serif;
                font-size: 10px;
                color: #ffffff;
                background-color: #000000;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-left: 0px;
                padding: 0px;
                height: 100%;
                width: 100%;
                overflow: auto;

           }

